*{
    margin: 0;
    padding: 0;
}
.nav-main{
    /* text-align: center; */
    background-color: lightblue;
}
.ul-list{
    display: flex;
    /* text-align: center; */
    justify-content: center;
}
.links{
    margin: 20px;
    list-style: none;
    color: black;
}
.links a{
    text-decoration: none;
    color: black;
}
.first{
    padding-left: 10px;
    /* border: 1px solid black; */
    height: 80vh;
    overflow-y: scroll;
}
.second{
    padding-left: 10px;
    border: 1px solid black;
}
.coantainer{
    margin-top: 30px;
    font-size: larger;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    height: 100vh;
    overflow-y: scroll;
    
}
.lists{
    list-style: none;
    text-align: center;
    border-bottom: 1px solid red;
}
/* .grid{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 80% 20%;
}
.col2{
    border: 1px solid black;
}
.span-1{
    grid-column: 1/3;
} */